</body>
<footer id="foot">
  <div class="container">
    <div class="row">

        <div class="col-lg-12">

           <p> <a class="contact-icon" href="#"><i class='fab fa-facebook'></i></a> <a class="contact-icon" href="#"><i style='color:red'class='fab fa-instagram'></i></a> </p>
          <p class="developed-para"><i id="developed-by">Developed by: </i>Uttam Sharma</p>
        </div>

    </div>
  </div>
  </footer>
</html>